@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta bg-light-grey dark:bg-very-dark-grey dark:text-white;
  }

  h1 {
    @apply text-2xl leading-[1.875rem] font-bold;
  }

  h2 {
    @apply text-lg leading-[1.125rem] font-bold;
  }

  h3 {
    @apply text-[0.9375rem] leading-[1.1875rem] font-bold;
  }

  h4 {
    @apply text-xs leading-[0.9375rem] font-medium tracking-[0.15em] text-medium-grey;
  }

  .body-large {
    @apply text-[0.8125rem] font-medium leading-[1.125rem];
  }

  .body-medium {
    @apply text-xs font-bold leading-[0.9375rem];
  }
}

.header-wrapper {
  @apply bg-white text-black dark:bg-dark-grey dark:text-white h-24 flex items-center;
}

.header-logo-wrapper {
  @apply border-r-2 h-[96px] pr-8 pl-3 items-center dark:border-r-lines-dark;
}

.body-wrapper {
  height: calc(100vh - 6rem);
  @apply px-6 py-6 flex;
}

.all-boards {
  @apply uppercase ml-8 mt-4;
}

.menu-list .q-item {
  border-radius: 0 32px 32px 0;
  @apply mr-6;
}

.q-item {
  @apply pl-8;
}

.q-item__section--avatar {
  @apply w-4 min-w-0 mr-4;
}

.active-item-menu {
  @apply text-white bg-purple;
}

.drawer-menu {
  height: calc(100vh - 8rem);
  @apply flex flex-col justify-between;
}

.modes-wrapper-outside {
  @apply flex;
}

.modes-wrapper-inside {
  @apply bg-light-grey dark:bg-very-dark-grey py-[0.875rem] px-2 w-5/6 mx-auto rounded-md flex justify-center items-center;
}

.hide-sidebar-wrapper {
  @apply flex items-center py-5 px-8 text-medium-grey cursor-pointer;
}

.hide-sidebar-wrapper h3 {
  @apply ml-4;
}

.show-sidebar-wrapper {
  @apply bg-purple px-4 py-4 absolute bottom-14 left-0 rounded-r-full cursor-pointer;
}
