@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta bg-light-grey dark:bg-very-dark-grey dark:text-white;
  }

  h1 {
    @apply text-2xl leading-[1.875rem] font-bold;
  }

  h2 {
    @apply text-lg leading-[1.125rem] font-bold;
  }

  h3 {
    @apply text-[0.9375rem] leading-[1.1875rem] font-bold;
  }

  h4 {
    @apply text-xs leading-[0.9375rem] font-medium tracking-[0.15em] text-medium-grey;
  }

  .body-large {
    @apply text-[0.8125rem] font-medium leading-[1.125rem];
  }

  .body-medium {
    @apply text-xs font-bold leading-[0.9375rem];
  }
}

.header-wrapper {
  @apply bg-white text-black dark:bg-dark-grey dark:text-white h-24 flex items-center;
}

.header-wrapper h1 {
  @apply hidden sm:block;
}

.layout-menu {
  @apply block sm:hidden;
}

.platform-btn-header {
  @apply text-lg leading-[1.125rem] font-bold text-black dark:text-white;
}

.header-logo-wrapper {
  @apply w-10 h-[96px] px-1 items-center  sm:w-fit sm:pr-8 sm:pl-3 sm:border-r-2 sm:dark:border-r-lines-dark;
}

.body-wrapper {
  height: calc(100vh - 6rem);
  @apply px-6 py-6 flex;
}

.all-boards {
  @apply uppercase ml-8 mt-4;
}

.menu-list .q-item {
  border-radius: 0 32px 32px 0;
  @apply mr-6;
}

.q-item {
  @apply pl-8;
}

.q-item__section--avatar {
  @apply w-4 min-w-0 mr-4;
}

.active-item-menu {
  @apply text-white bg-purple;
}

.drawer-menu {
  height: calc(100vh - 8rem);
  @media only screen and (max-width: 640px) {
    height: fit-content;
  }
  @apply flex flex-col sm:justify-between;
}

.menu-wrapper {
  @apply dark:bg-dark-grey rounded-xl;
}

.modes-wrapper-outside {
  @apply flex;
}

.modes-wrapper-inside {
  @apply bg-light-grey dark:bg-very-dark-grey py-[0.875rem] px-2 w-5/6 mx-auto rounded-md flex justify-center items-center;
}

.hide-sidebar-wrapper {
  @apply hidden sm:flex items-center py-5 px-8 text-medium-grey cursor-pointer;
}

.hide-sidebar-wrapper h3 {
  @apply ml-4;
}

.show-sidebar-wrapper {
  @apply bg-purple px-4 py-4 sm:block sm:absolute sm:bottom-14 sm:left-0 rounded-r-full cursor-pointer hidden;
}

.menu-wrapper-item {
  @apply pl-4 text-medium-grey;
}

.dialog-card {
  @apply px-8 py-8 w-11/12 sm:min-w-[30rem] dark:bg-dark-grey;
}

.dialog-card > .q-card__section--vert {
  @apply px-0 pt-0;
}

.columns-input-wrapper {
  @apply flex flex-row items-start justify-between mb-3;
}

.bg-transparent-purple {
  background: rgba(99, 95, 199, 0.1);
  color: #635fc7;
  @apply dark:bg-white;
}

.column-card {
  @apply flex flex-col w-[17.5rem] h-fit bg-transparent shadow-none gap-5;
}

.add-new-column-card {
  height: calc(100vh - 10rem);
  display: flex;
  @apply bg-gradient-to-r from-[#e9effa] to-[#e9effa80] dark:from-[#2b2c3740] dark:to-[#2b2c3721];
}

.new-column-card-text {
  @apply text-medium-grey text-2xl leading-[1.875rem] font-bold my-auto mx-auto cursor-pointer;
}

.column-task-card {
  @apply w-full bg-white rounded-lg dark:bg-dark-grey cursor-pointer;
}

.view-task-title {
  @apply flex items-center justify-between pb-0;
}

.view-task-title > h2 {
  @apply leading-normal;
}

.completed-task-wrapper {
  @apply flex items-center px-3 bg-light-grey rounded-md mb-2 dark:bg-very-dark-grey py-2;
}

.test {
  @apply text-black dark:text-white;
}
